.homepagemain{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
 /* ====================================== */

.webcamContainer {
  /* border: 1px solid #ccc; */
  /* border-radius: 50%; */
  overflow: hidden;
  /* width: 300px; 
  height: 300px;  */
}

.circularImage {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.circularImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}



/* ====================================== */

.captureButton{
  margin-top: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.showimgdiv{
  max-width: 500px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.showimgdivbtns{
 display: flex;
 margin-top: 30px;
 width: 100%;
 justify-content: space-evenly;
}
.btn{
      border: none;
    outline: none;
    font-size: 20px;
    padding: 8px 20px;
    background: rgb(110, 110, 220);
    color: white;
    border-radius: 10px;
    /* width: 0%; */
}