.mainanim_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  /* animation-name: Position, sizeforimg;
  animation-duration: 3s, 3x; */
  animation-name: Position, sizeforimg;
  animation-duration: 3s, 3s;
  width: 10vw;
  height: 10vw;
  /* width: 250px;
  height: 250px; */
  border: 10px solid #FFD700;
}

.borderimg {
  position: absolute;
  animation-name: Position, sizeforborder;
  animation-duration: 3s, 3s;
  width: 160px;
  height: 160px;
}


/* =============================================================================== */
.imgandtextdiv{
  position: absolute;
  animation-name: Position, divsize;
  animation-duration: 3s, 3s;
  /* width: fit-content; */
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgandtextdivhist{
  position: absolute;
    width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -10;
}

/* .imgandtextdiv{
  position: relative;
} */

.img{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 10px solid #FFD700;
  object-fit: cover;
}
.textname, .textmessage{
  color: white;
  text-align: center;
}



/* ============================================================================================ */

@keyframes Position {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: calc(random() * (100vh - 100px));
    left: calc(random() * (100vw - 100px));
  }
}

@keyframes sizeforimg {
  from {
    /* width: 25%;
    height: 46%; */
    width: 40vw;
    height: 40vw;

  }
  to {
    width: 10vw;
    height: 10vw;
    /* width: 250px;
    height: 250px; */
    /* transform: scale(0); */
  }
}


@keyframes sizeforborder {
  from {

  }
  to {
    width: 160px;
    height: 160px;
  }
}

@keyframes divsize {
  from{
    transform: scale(2);
  }
  to{
    transform: scale(1);
  }
}