.mainanim_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  /* animation-name: Position, sizeforimg;
  animation-duration: 3s, 3x; */
  animation-name: Position, sizeforimg;
  animation-duration: 3s, 3s;
  width: 100px;
  height: 100px;
}

.borderimg {
  position: absolute;
  animation-name: Position, sizeforborder;
  animation-duration: 3s, 3s;
  width: 160px;
  height: 160px;
}

@keyframes Position {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: calc(random() * (100vh - 100px));
    left: calc(random() * (100vw - 100px));
  }
}

@keyframes sizeforimg {
  from {
    width: 300px;
    height: 300px;

  }
  to {
    width: 100px;
    height: 100px;
  }
}


@keyframes sizeforborder {
  from {
    width: 460px;
    height: 460px;
  }
  to {
    width: 160px;
    height: 160px;
  }
}
